@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Bungee&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
  height: 100%;
  width: 100%;
  font-family: 'IBM Plex Sans', sans-serif;
  overflow-x: hidden;
  font-size: 16px;
  color: #fff2e0;

  background: rgb(10, 10, 10);
  background: radial-gradient(circle, rgba(10, 10, 10, 1) 20%, rgba(25, 0, 0, 1) 100%);
}

/* Size font for smaller screens */
@media (max-width: 768px) {
  html {
    font-size: 14px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  entry {
    display: flex;
    position: absolute;
    top: 15%;
    left: 20%;
    transform: scale(0.6);
  }
}

button {
  transition: all 0.2s ease-out;
}

button:hover {
  transition: all 0.3s ease-out !important;
  transform: scale(1.05);
}

button:active {
  transition: all 0.1s ease-in !important;
  transform: scale(1);
}

#cbutton {
  
}